

.column_left{
    background : #dae8fc;
    float: left;
    width: 200px;
    height: 700px;
}

.column_right{
    background: #d5e8d4;
    float: right;
    width: 200px;
    height: 800px;
}
.column_center{
    background:  #66ffff;
}