
<div class="title">
    <h1>Hãy hỏi cộng đồng một câu hỏi đúng sai hoặc có hay không</h1>
</div>


<form method="POST" action="/ask" class="form-ask">
    <textarea name="question" cols="100" rows="10" ></textarea>
    <button type="submit"> Gửi</button>
</form>