<div class="question"><h2 class="question">{{question}}</h2></div>


<div class="container">
    <div >
        <a href="../submit/no/{{id}}" type="button" class="a-btn no-btn">
            Sai/Không/Trái
        </a>
    </div>

    <div>
        <a href="../submit/yes/{{id}}" type="button" class="a-btn yes-btn">
            Đúng/Có/Phải
        </a>
    </div>
</div>

<div class="btn-ex">
    <a href="#"><button>Kết quả vote</button></a>
    <a href="/"> <button>Câu hỏi khác</button></a>
   
</div>