<h3 class="text-center">Hãy hỏi cộng đồng một câu hỏi đúng sai hoặc có hay không</h3>


<form id="form">
    <div class="form-group">
        <textarea name="question" cols="100" rows="10" class="form-control" id="questionInput"></textarea>
        <span>Còn </span>
        <span id="character"> 200</span>
        <span> Ký tự</span>
    </div>
    <button type="submit" class="btn btn-primary " id="button">Gửi</button>

</form>

<script>
    $(document).ready(() => {
        $('#form').submit(function () {
            let question = { question: $('#questionInput').val() };

            if (question.question.length == 0) {
            } else {
                $.ajax({
                    url: '/ask',
                    method: "POST",
                    data: question,
                    async: true,
                    success: function (res) {
                          window.location = '/question/' + res;
                    }

                });
            }
        });
    });
</script>