<div class="question text-center m-5">
    <h2 id="question">Không có câu hỏi</h2>
</div>

<div class="container">

    <div class="row d-none" id="button-vote">
        <div class="text-center w-100 col-6 ">
            <a id="no" type="button" class="bg-danger text-white button ">
                <i class="far fa-thumbs-down"> Sai/Không/Trái</i>

            </a>
        </div>
        <div class="text-center w-100 col-6 ">
            <a type="button" id="yes" class="bg-primary text-white button ">
                <i class="far fa-thumbs-up"> Đúng/Có/Phải</i>
            </a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6 text-right " >
            <a class="btn d-none" id="kqvote">
                <button>Kết quả vote</button>
            </a>
        </div>
        <div class="col-12 text-center" id="otherquestion">
            <a href="/" class="btn">
                <button>Câu hỏi khác</button>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        $.ajax({
            url: '/randomquestion',
            success: (question) => {
                if (!question) {
                } else {
                    $('#question').text(question.question);
                    $('#no').attr("href", "../submit/no/" + question._id);
                    $('#yes').attr("href", "../submit/yes/" + question._id);
                    $('kqvote').attr("href", '../question/' + question._id);
                    $('#button-vote').removeClass('d-none');
                    $('#kqvote').removeClass('d-none');
                    $('#otherquestion').removeClass('col-12');
                    $('#otherquestion').removeClass('text-center');
                    $('#otherquestion').addClass('col-6');
                    $('#kqvote').attr('href', '../question/' + question._id);
                }

            }
        });
    });
</script>