<div class="question text-center m-5">
    <h2 class="question">{{question}}</h2>
</div>


<div class="container">

    <div class="row">
        <div class="text-center w-100 col-6">
            <a href="../submit/no/{{id}}" type="button" class="bg-danger text-white button ">
                Sai/Không/Trái
            </a>
        </div>
        <div class="text-center w-100 col-6">
            <a href="../submit/yes/{{id}}" type="button" class="bg-primary text-white button ">
                Đúng/Có/Phải
            </a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6 text-right">
            <a href='../question/{{id}}' class="btn">
                <button>Kết quả vote</button>
            </a>
        </div>
        <div class="col-6">
            <a href="/" class="btn">
                <button>Câu hỏi khác</button>
            </a>
        </div>
    </div>
</div>