<div class="text-center m-5">
    <h1>{{question}}</h1>
</div>

<div class="text-center mt-5">
    <h3>vote : {{vote}}</h3>

</div>
<div class="progress mb-5 ">
    <div class="progress-bar bg-danger" style="width:50%">
        {{no}}
    </div>
    <div class="progress-bar bg-primary" style="width:50%">
        {{yes}}
    </div>

</div>
<div class="row">
    <a href="../" class="col-md-2 mx-auto col-5">
         <div class="btn btn-success ">Xem Câu hỏi khác</div>
    </a>
   
</div>