<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ask Page??</title>

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

        {{!-- .active {
            background-color: rgb(65, 65, 65);
        } --}}

        .a-btn {
            color: aliceblue;
            text-decoration: none;
            width: 200px;
        }

        .yes-btn {
            position: relative;
            display: inline-block;
            padding: 5px 20px;
            text-align: center;
            border-radius: 10px;
            background: rgb(1, 69, 255);
            float: right;
            margin-right: 20%;
        }

        .no-btn {
            position: relative;
            float: left;
            display: inline-block;
            padding: 5px 20px;
            text-align: center;
            border-radius: 10px;
            background: rgb(255, 1, 56);
            margin-left: 20%;
        }

        .question {
            text-align: center;
            margin: 5%;
        }

        .btn-ex {
            margin-top: 10%;
            text-align: center;
        }

        .form-ask {

            text-align: center;
        }

        .title {
            text-align: center;
        }

        .vote {
            text-align: center;
        }

        .progress {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        .progressValue {
            overflow: hidden;
            position: absolute;
            height: 20px;
            background-color: rgb(255, 1, 56);
         
        }

        .progressInnerLabel {
            position: absolute;
            color: white;
            height: 20px;
            padding-left: 10px;
        }

        .progressLabel {
             background-color: blue;
            text-align: right;
            height: 20px;
            color:white;
            padding-right: 10px;
        }
    </style>
</head>

<body>
    <ul>
        <li>
            <a href="#home">Quyết đê!</a>
        </li>
        <li>
            <a href="../ask">Hỏi nhanh</a>
        </li>
        <li>
            <a class="active" href="../">Đáp gọn</a>
        </li>
    </ul>
    {{{body}}}

</body>

</html>